.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #444f59;
  
}

.App_title {
  color: white;
  font-size: 3rem;
}

.App_todo {
  height: 28rem;
  width: 28rem;
}

.App_input_warpper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.App_input {
  flex: 1;
  outline: none;
  border: none;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: #3e4149;
  
}

.App_input_button {
  width: 3rem;
  height: 100%;
  background-color: #fd999a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.App_todo_list {
  background-color: white;
  height: 100%;
  margin-top: 2rem;
  overflow: auto;
  border-radius: 15px;
}